@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cairo: var(--font-cairo);
  --color-primary: #282a5c;
  --color-secondary: #ea252e;
  --color-accent: #fdf0d5;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  button, a {
    @apply cursor-pointer hover:bg-transparent
  }

  * {
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    scroll-behavior: smooth !important;
    /* border: 1px solid red; */
  }
}

@layer utilities {
  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-lg shadow-sm text-sm font-medium transition-all duration-300 ease-in-out cursor-pointer relative overflow-hidden;
  }

  .soft {
    @apply transition-all duration-300 ease-in-out;
  }

  .container {
    @apply mx-auto px-4 sm:px-10 ;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .ho-center {
    @apply flex items-center;
  }
}

@supports not (height: 100dvh) {
  .homeBanner::before {
    height: min(100vh, 850px);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo);
}

