@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cairo: var(--font-cairo);
  --color-primary: #0c8589;
  --color-secondary: #2a4f7d;
  --color-accent: #ffefd6;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1100px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101828;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  button, a {
    @apply cursor-pointer hover:bg-transparent
  }

  * {
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -moz-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -ms-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    -o-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    scroll-behavior: smooth !important;
    /* border: 1px solid red; */
  }

  /* React International Phone Styles */
  .react-international-phone-input-container {
    width: 100%;
  }

  .react-international-phone-input {
    width: 100%;
  }

  .react-international-phone-country-selector-button {
    border-radius: 0.75rem 0 0 0.75rem;
  }

  [dir="rtl"] .react-international-phone-country-selector-button {
    border-radius: 0 0.75rem 0.75rem 0;
  }
}

@layer utilities {
  .btn {
    @apply inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-lg shadow-sm text-sm font-medium transition-all duration-300 ease-in-out cursor-pointer relative overflow-hidden;
  }

  .soft {
    @apply transition-all duration-300 ease-in-out;
  }

  .container {
    @apply mx-auto px-4 sm:px-10 ;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .ho-center {
    @apply flex items-center;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@supports not (height: 100dvh) {
  .homeBanner::before {
    height: min(100vh, 850px);
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cairo);
}

